@import "src/ui/common/styles/sass/mixins";

.loginBlock {
  @include displayFlex();

  .loginContainer {
    @include displayFlex(row, space-between);
    @include heightWidth(auto, 400px);

    .navLink {
      color: inherit;
    }

    a:visited {
      color: inherit;
    }

  }

}