@import "../../common/styles/sass/variables";
@import "../../common/styles/sass/mixins";

.tableBlock {
  height: 610px;
  width: 755px;
  background: #282c34;
  border: 1px solid;
padding: 5px;
  .tableContainer {
    @include displayFlex(column);
    height: 600px;
    border: 1px solid;
    background: #fb6161;
    padding: 0 20px;

    h1 {
      margin: 25px 0;
      padding: 0;
      font-size: 24px;
    }

  }

  .searchAddNewContainer {
    @include displayFlex(row, space-between);
    border: 1px solid;
    background: #6164fb;
    margin-bottom: 20px;
  }
}
