@import '../common/styles/sass/mixins';
@import '../common/styles/sass/variables';

.mainBlock {

  .header {
    @include displayFlex();
    @include heightWidth(180px, 100%);
    box-shadow: 1px 2px 3px -1px #C8D1CC;
  }

  .pages {
    @include displayFlex(row,center,flex-start);
    @include heightWidth(80.8vh,100%);
    background:$bgColorBlue;
    position: relative;
  }
}