@import "src/ui/common/styles/sass/variables";
@import "src/ui/common/styles/sass/mixins";

.popUpBlock {
  @include displayFlex(row, center);
  position: absolute;
  z-index: 1;
  height: 150px;
  width: 350px;
  top: 5%;
  left: 8%;
  background: #ffffff;
  border-radius: 8px;

  .popUpMain {
    @include displayFlex(column, space-around, center);

    .closeSpan {
      position: absolute;
      top: 8px;
      left: 300px;
      font-size: 18px;
      text-decoration: underline;
      cursor: pointer;
      font-style: italic;
    }
  }

  h2 {
    font-family: $fontFamilyHeader;
    margin: 10px 0;
  }

  p {
    font-family: $fontFamilyText;
  }
}