@import "../../../common/styles/sass/mixins";
@import "../../../common/styles/sass/variables";


.registerContainer {
  background: $bgColorBlue;
  @include heightWidth(80vh, 100%);
  @include displayFlex(row, center, center);
  position: relative;

  .registerBlock {
    @include displayFlex(column, flex-start, center);
    @include heightWidth(540px, 413px);
    background: white;
    border-radius: 8px;
    position: relative;

    .progressBar {
      height: 10px;
      margin: 5px 0;
    }

    .header {
      @include displayFlex(column, space-between, center);
      font-family: $fontFamilyHeader;
      margin-bottom: 15px;

      h2, h1 {
        margin: 0;
      }

      span {
        width: 50px;
        height: 2px;
        background: black;
        margin-top: 10px;
      }
    }

    .popUpContainer {
      .popUp {
        position: absolute;
        z-index: 1;
        width: 350px;
        top: 2%;
        left: 7.6%;


        .errorPopUp {
          box-shadow: 0px 4px 7px -1px $colorError;
          background: $colorError;
          border-radius: 8px;
        }

        .messagePopUp {
          box-shadow: 0px 4px 7px -1px $colorMessage;
          background: rgb(167, 221, 255);
          border-radius: 8px;
        }
      }
    }

    .inputBlock {
      @include displayFlex(column, space-around, center);
      @include heightWidth(200px, auto);
      margin-bottom: 80px;

      .inputContainer {
        @include displayFlex(column);
        font-family: $fontFamilyText;
        color: rgba(0, 0, 0, 0.85);
        position: relative;

        label {
          font-size: 14px;
          color: $colorGrey;
        }

        .error {
          border-bottom: 1px solid $colorError;
        }

        img {
          position: absolute;
          top: 20px;
          left: 325px;
          height: 20px;
          width: 20px;
          cursor: pointer;
        }
      }

      input {
        width: 347px;
        height: 28px;
        border: none;
        border-bottom: 1px solid $colorGrey;
        margin-top: 4px;
        font-size: 18px;
        font-weight: 500;
      }

      input:focus {
        outline: none;
      }

      input[type=password] {
        font-weight: 800;
      }
    }

    .control {
      margin-bottom: 28px;
      @include displayFlex(row, space-around, center);
      @include heightWidth(auto, 347px);

      .disabledLink {
        pointer-events: none;
      }

      a {
        color: inherit;
        text-decoration: none;
        font-family: $fontFamilyHeader;
        font-size: 18px;
        letter-spacing: 0.1px;
      }
    }
  }
}


/*style={{border:'solid 1px',position:"absolute",zIndex:"2",
  height:280, width:250}}*/
