@import "src/ui/common/styles/sass/mixins";
@import "src/ui/common/styles/sass/variables";

.forgotBlock {
  position: relative;

  .forgotContainer {
    @include displayFlex(column, flex-start, center);
    @include heightWidth(540px, 413px);
    background: white;
    border-radius: 8px;
    position: relative;

    header {
      @include displayFlex(column, space-between, center);
      font-family: $fontFamilyHeader;
      margin-bottom: 15px;

      h1, h2 {
        margin: 0;
      }
    }

    .inputContainer {
      @include displayFlex(column, flex-start);
      @include heightWidth(auto, 347px);
      font-family: $fontFamilyText;
      color: $colorGrey;

      label {
        font-size: 14px;

      }

      input[type=email] {
        width: 347px;
        height: 28px;
        border: none;
        border-bottom: 1px solid $colorGrey;
        margin-top: 4px;
        font-size: 18px;
        font-weight: 500;
      }

      input:focus {
        outline: none;
      }

      p {
        font-size: 15px;
      }
    }

    .button {

    }

    footer {
      p {
        color: $colorGrey;
      }

      a {
        color: inherit;
        text-decoration: none;
        font-family: $fontFamilyHeader;
        font-size: 18px;
      }
    }
  }
}